{
  "user": {
    "email": "",
    "password": ""
  },
  "driver": {
    "chrome": "./chromedriver.exe"
  },
  "pixiv": {
    "login": {
      "url": "https://accounts.pixiv.net/login",
      "xpath": {
        "btn_login": "//*[@id='LoginComponent']/form/button",
        "inp_mail": "//*[@id='LoginComponent']/form/div[1]/div[1]/input",
        "inp_pass": "//*[@id='LoginComponent']/form/div[1]/div[2]/input"
      }
    }
  }
}